
@font-face {
    font-family: 'policereservia';
    src: url('raleway-regular-webfont.eot');
    src: url('raleway-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('raleway-regular-webfont.woff') format('woff'),
         url('raleway-regular-webfont.ttf') format('truetype'),
         url('raleway-regular-webfont.svg#ralewayregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'policereserviabold';
    src: url('raleway-bold-webfont.eot');
    src: url('raleway-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('raleway-bold-webfont.woff') format('woff'),
         url('raleway-bold-webfont.ttf') format('truetype'),
         url('raleway-bold-webfont.svg#ralewaybold') format('svg');
    font-weight: normal;
    font-style: normal;
}


h1 {
   font-family: 'policereserviabold';
    font-size: 16px;
}
h2 {
    font-family: 'policereserviabold';
    font-size: 14px;
}
h3 {
    font-family: 'policereservia';
    font-size: 12px;
}
strong {
    font-family: 'policereserviabold';
}
i {
    color: #0065FC;
}

@media all and (max-device-width: 768px) {
    h1 {
        font-size: 50px;
     }
    h2 {
         font-size: 20px;
     }

    h3 {
        font-size: 15px;
    }
}

/* début partie header/menu */

#logoetmenus, #menus23, #logomenu1 {
    display:flex;	
}
#menu3 {
	order: -1;
}
#logo {
    margin-top: 30px; 
    margin-left: 30px; 
}
#menu1 h3 {
    color:#0065FC;
    border-top: 3px solid blue;
    margin-left: 750px;  
    padding-top: 20px;    
}
#menu2 h3, #menu3 h3 {
    margin-left: 30px; 
    margin-top: 35px; 
}
#menu2 h3 {
    color:#0065FC;
}
#menu3 h3 {
    color: black;
}

#menu1 a, #menu2 a, #menu3 a {
    text-decoration: none;      
}
#menu2 a {
    color: black;
}
#menu1 a, #menu3 a {
    color: #0065FC;     
}
#menu1 a:visited  #menu3 a:visited {
    color: #0065FC;
}
#menu2 a:visited {
    color: black;
}

@media all and (max-device-width: 768px) {

    #logo img {
    width: 85%; 
    }
    
    #menus23, #logomenu1 {
	display: block;
    }
    #menu3 h3 {
    border-bottom: 10px solid #F2F2F2;
    margin-top:83px;
    padding-left: 250px; 
    padding-right: 280px; 
    }
    #menu1 h3 {
    border-top: none; 
    border-bottom: 10px solid blue;
    padding-left: 100px; 
    padding-right: 150px; 
    padding-top:0px;
    } 
    #menu2 h3{
    margin-left: 350px; 
    margin-top: 140px;
    }
    #menu3 h3, #menu1 h3, #menu2 h3 {
        font-size: 40px;
    }
    #menu3 h3, #menu1 h3 {
        margin-left: 0px;
        padding-bottom: 30px;
    }
}
/*fin */

/* début partie lieu et filtres*/

#section1 p {
    font-family: 'policereservia';
    font-size: 13px; 
}

#section1 {
    margin-left: 30px; 
}
#bouton {
    background: #0065FC;
    color: white;
    border-radius: 0px 10px 10px 0px;
    border-color :#0065FC;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
}

#section1 form i {
    border: 2px solid #F2F2F2;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 10px 0px 0px 10px;
    background: #F2F2F2;
    color: black;
    font-size: 14px;     
} 
#sectionfiltres {
    display: flex;
    font-family: 'policereserviabold';
    font-size: 14px;  
}
#choixfiltres {
    display: flex; 
}
#signefiltre1, #signefiltre2, #signefiltre3, #signefiltre4 {
    display: flex; 
    border: 2px solid #F2F2F2;
    border-radius: 30px 30px 30px 30px;
    margin-left: 30px;
    border-left-color: #DEEBFF;    
}
.signe {
    border : 10px solid #DEEBFF;
    border-radius: 50px/50px;
    background-color: #DEEBFF;  
}
.name  {
    margin-left: 10px; 
    margin-right: 10px;
    margin-top: 10px;     
}   
.name:hover {
    text-decoration: underline;
    color: pink;
}

#lieu {
    border: 2px solid  #F2F2F2;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    font-weight: bold;
    font-family: 'policereserviabold';
    font-size: 14px;   
}

@media all and (max-device-width: 768px) {

    #section1 p {
        font-family: 'policereservia'; 
        font-size: 15px; 
        margin-left: 30px;
    }
    #section1 h1, #section1 h3, #filtres {
        margin-left: 30px; 
    }
    #choixfiltres {
        flex-wrap: wrap;
    }
    #sectionfiltres{
        display: block; 
        font-size: 40px;       
    }
    .signe {
        border: 30px solid #DEEBFF; 
    }
    #signefiltre1, #signefiltre2, #signefiltre3, #signefiltre4 {
        margin-top: 30px; 
        border-radius: 100px 100px 100px 100px;    
        border: 5px solid #F2F2F2;  
        padding-right: 35px; 
    }
    .name {
        margin-bottom: 20px; 
        margin-top: 20px; 
        margin-left: 20px; 
        margin-right: 20px; 
    }
    #signefiltre1, #signefiltre3 {
        width: 40%; 
    }
    #signefiltre2 {
        width: 30%;
    }
    #signefiltre4 {
        width: 55%;    
    }
    #lieu, #bouton {
        font-size: 45px; 
        padding-left: 20px;
        padding-top: 30px; 
        padding-bottom: 30px;      
    }
    #section1 form i {
        font-size: 30px; 
        margin-left: 10px; 
        border: 15px solid #F2F2F2;
        padding-top: 35px; 
        padding-bottom: 25px; 
        border-radius: 30px 0px 0px 30px;
    }
}
/*fin*/

/* section 2 */

#section2 {
    margin-left: 30px; 
}
@media all and (max-device-width: 768px) {
    #section2 h3 {
        font-family: 'policereservia'; 
        font-size: 15px; 
        margin-left: 30px;
    }    
}
/*fin*/

/* début partie hébergements à Marseille (section 3)*/
#section3 {
    display: flex;    
}
#section3 a {
    color: black;
    font-weight: bold;
    text-decoration: none;
}
#section3 a:visited {
    color: black;
}
#hebergementsamarseille  {
    padding-right: 30px;
    background-color: #F2F2F2;
    border-radius: 20px;  
    margin-left: 30px; 
}
#hebergementsamarseille h3 {
    font-family: 'policereserviabold';
    font-size: 12px; 
    margin-left: 30px;
    margin-top: 30px; 
}
#hebergementsamarseille h1 {
    padding-left: 30px; 
    padding-top: 30px; 
}
.containerhebergement {
    display: flex;
    justify-content: space-between; 
    margin-top: 10px;    
}
.prixhebergement {
    margin-top: 3px;   
    margin-left: 10px; 
    margin-top: 3px; 
    font-family: 'policereservia';
    font-size: 11px; 
}
.stars {
   margin-top: 5px;
   font-size: 11px;  
   margin-left: 10px; 
   margin-top: 3px;    
}
.hebergement  {
    border-radius: 10px 10px 10px 10px;   
    margin-left: 30px; 
    margin-top: 10px;
    border: 2px solid white;  
    border-bottom: 10px solid white;
    font-size: 12px; 
    background-color: white;
    margin-bottom: 10px;     
}
.hebergementpic {
    border-radius: 10px 10px 0px 0px; 
    background-color: white;
    width: 200px; 
    height: 101px; 
    object-fit: cover;
}
.titlehebergement {
    font-family: 'policereserviabold';
    font-size: 12px; 
    border: 2px solid white; 
    background-color: white;
    margin-left: 8px; 
}
.hebergement a {
    color: black;
    text-decoration: none;
}
.hebergement a:visited {
    color:black;
}


@media all and (max-device-width: 768px) {
    .stars {
        font-size: 15px;  
        margin-top: 10px; 
    }
    .titlehebergement {
        font-size: 40px;       
    }
    .prixhebergement {
        font-size: 25px;       
    }
    .stars, .titlehebergement, .prixhebergement {
        margin-left: 30px; 
    }
    #section3 {
        display: flex;
        flex-direction: column-reverse;
        width: 1220px; 
    }
    .containerhebergement {
        display: block;
    }
    #hebergementsamarseille {
        background-color: white; 
        margin-top: 50px; 
    }
    .hebergement {
        border-radius: 60px 60px 60px 60px; 
        margin-bottom: 60px; 
        box-shadow: 20px 20px 20px #F2F2F2;
        margin-right: 25px;    
    }
    .hebergementpic {
        width: 1100px;
        height: 550px;
        border-radius: 60px 60px 0px 0px;      
    } 
    #section3 h3 {
        font-size: 45px; 
        padding-top: 50px;    
    }
}

/* fin */ 

/*début partie les plus populaires */

#containerlespluspopulaires {
    margin-left: 30px;
    padding-top: 20px;
    background-color: #F2F2F2;   
    border-radius: 20px;
    padding-left: 30px; 
}
#containerlespluspopulaires h1 i {
    color: black;
    margin-left: 120px;
}  
.titlelpp {
    margin-right: 30px;  
    font-family: 'policereserviabold';
    padding-right: 30px;
    font-size: 12px;  
    margin-top: 10px; 
    margin-left: 130px;    
}  
.prixlpp {
    font-family: 'policereservia';
    margin-top: 5px; 
    font-size: 11px; 
    margin-left: 130px; 
}
.starslpp {
    position: relative;
    top: 30px;
    margin-left: 130px;
    font-size: 11px; 
}
.hebergementlpp {
    display: flex;
    background-color: white;
    border-radius: 10px;
    margin-right: 30px;
    margin-top: 30px;         
}

#imageflottante1, #imageflottante2, #imageflottante3 {
    float: left;
}
.dessous {
    clear: left;
}
.piclpp {
    border: 3px solid white; 
    border-radius: 10px 0px 0px 10px;  
    width: 110px;
    height: 110px; 
    object-fit: cover; 
}
.hebergementlpp a {
    color: black;
    text-decoration: none;    
}
.hebergementlpp a:visited {
    color: black;
}

@media all and (max-device-width: 768px) {
    .titlelpp {
    font-size: 55px; 
    margin-right: 10px; 
    margin-left: 400px; 
    margin-top: 50px; 
    }
    .starslpp {
    font-size: 40px; 
    margin-left: 400px; 
    top: 70px;
    }
    .prixlpp {
    font-size: 50px; 
    margin-left: 400px; 
    }
    .piclpp {
    width: 340px;
    height: 380px;
    border-radius: 60px 0px 0px 60px; 
    border: 5px solid white;
    }
    #containerlespluspopulaires h1 {
    margin-left: 30px; 
    }
    #containerlespluspopulaires h1 i {
      margin-left: 450px; 
    }   
    .hebergementlpp {
        border-radius: 60px 60px 60px 60px; 
        margin-left: 30px; 
        margin-right: 70px;   
    }
    #containerlespluspopulaires {
        margin-left: 0px; 
         padding-bottom: 100px;    
   }
}

/*fin*/

/*partie activités à marseille (section 4) */

#section4 h1 {
    margin-top: 50px;
    margin-left: 30px; 
}
#containermarseille {
    margin-top: 10px;
    display: flex;       
}
.titleactivity {
    margin-left: 10px;
    padding-bottom: 0.8px;  
    font-family: 'policereserviabold';
    font-size: 12px;
    box-shadow: 6px 6px 6px #F2F2F2;
    border-radius: 0px 0px 20px 20px;  
}
.activitymarseille, .activitymarseille1 {
    margin-left: 30px;       
}
.activitymarseille1 {
    margin-top: 30px;
}
.photoactivity, .photoactivity1 {
    border-radius : 20px 20px 0px 0px;  
    box-shadow: 6px 6px 6px #F2F2F2;
}
.activitymarseille a, .activitymarseille1 a {
    color: black;
    text-decoration: none;
}
.activitymarseille a:visited, .activitymarseille1 a:visited {
    color:black;
}
.photoactivity1  {
    width: 250px; 
    height: 322px; 
    object-fit: cover;   
}
.photoactivity {
    width: 250px;
    height: 125px; 
    object-fit: cover;
}

@media all and (max-device-width: 768px) {
    #containermarseille, .containeractivity {
        display: block; 
    }
    #section4 {
        margin-top: 100px; 
        margin-left: 30px; 
        margin-right: 30px;     
    }  
    .photoactivity1, .photoactivity {
        width: 1100px; 
        height: 550px; 
        border-radius: 60px 60px 0px 0px; 
    }
    .firstpic, .containeractivity {
        width: 1160px; 
    } 
    .activitymarseille, .activitymarseille1 {
        margin-bottom: 60px; 
        border-radius: 60px 60px 60px 60px; 
        text-shadow: 20px 20px 20px #F2F2F2; 
        box-shadow: 20px 20px 20px #F2F2F2;
        margin-right: 30px;    
    }
    .titleactivity {
        font-size: 55px; 
        padding-bottom: 40px;
        padding-top: 50px; 
    }
}
/*fin*/

/* début partie footer */ 

#footer {
    display: flex;
    margin-top: 30px;  
    padding-right: 310px;
    width: 800px;
    background-color: #F2F2F2;     
}
#apropos {
    padding-top: 30px;
    font-family: 'policereserviabold';
    font-size: 14px;
    margin-left: 30px;   
}
#hebergementfooter, #assistance {
    padding-top: 30px;
    font-family: 'policereserviabold';
    font-size: 14px;     
} 
#hebergementfooter, #assistance {
    margin-left: 180px; 
}
#apropos a, #hebergementfooter a, #assistance a {
    font-family: 'policereservia';
    font-size: 13px;
    text-decoration: none;
    color: black;     
}
#apropos a:visited, #hebergementfooter a:visited, #assistance a:visited {
    color: black; 
}

@media all and (max-device-width: 768px) {
    #footer {
        display: block;
        margin-top: 150px;   
        padding-bottom: 100px;
        width: 900px; 
    }
    #apropos, #hebergementfooter, #assistance {
        padding-top: 100px; 
        margin-left: 30px; 
        
    }
    #apropos h2, #hebergementfooter h2, #assistance h2 {
        font-size: 45px;
    }

    #apropos a, #hebergementfooter a, #assistance a {
        font-size: 30px; 
    }

}