
@font-face {
    font-family: 'policereservia';
    src: url('polices/raleway-regular-webfont.eot');
    src: url('polices/raleway-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('polices/raleway-regular-webfont.woff') format('woff'),
         url('polices/raleway-regular-webfont.ttf') format('truetype'),
         url('polices/raleway-regular-webfont.svg#ralewayregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'policereserviabold';
    src: url('polices/raleway-bold-webfont.eot');
    src: url('polices/raleway-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('polices/raleway-bold-webfont.woff') format('woff'),
         url('polices/raleway-bold-webfont.ttf') format('truetype'),
         url('polices/raleway-bold-webfont.svg#ralewaybold') format('svg');
    font-weight: normal;
    font-style: normal;
}


h1 {
    font-family: 'policereserviabold';
   
}
h2 {
    font-family: 'policereserviabold';
    font-size: 18px;
}
h3 {
    font-family: 'policereservia';
    font-size: 16px;
}

h4 {
    font-family: 'policereservia';
    font-size: 15px; 

}

strong {
    font-family: 'policereserviabold';
}
i {
    color: #0065FC;
}

#logo {
    margin-left: 30px; 
    margin-top: 20px; 
    
}
nav h3 {
    font-family: 'policereservia';
    font-size: 15px; 
}
header {
    display:flex; 
    justify-content: flex-end;
    justify-content: space-between; 
    margin-right: 30px; 
}
.menus123 {
    list-style-type: none;
    margin-right: 20px;
}

ul {
    display:flex; 
}
#menu1 h3 {
    border-top: 2px solid #0065FC;
    
}
#menu2 h3 {
    color: black; 
}
#menu3 h3 {
    color:#0065FC; 
}
#menu1 h3, #menu2 h3, #menu3 h3 {
    padding-top: 20px;   
}
#menu1, #menu2, #menu3 {
    text-decoration: none;     
}
#menu2  {
    color: black;
}
#menu1, #menu3 {
    color: #0065FC;     
}
#menu1 a:visited  #menu3 a:visited {
    color: #0065FC;
}
#menu2 a:visited {
    color: black;
}
#sectionrecherchefiltres {
    margin-left: 30px; 
}
#sectionrecherchefiltres h3 {
    font-family: 'policereserviabold';
    font-size: 16px; 
}
#bouton {
    background-color: #0065FC;
    color: white;
    border-radius: 0px 10px 10px 0px;
    padding-top: 10px;
    padding-bottom: 15px;
    padding-left: 5px;  
    border: 5px solid #0065FC;  
}
form {
    display: flex; 
    font-family: 'policereservia';    
}
#iconelieu i {
    border: 2px solid #F2F2F2;
    padding-top: 15px;
    padding-bottom: 17px;
    padding-right: 15px;
    padding-left: 15px;
    border-radius: 10px 0px 0px 10px;
    background: #F2F2F2;
    color: black;
    font-size: 14px;     
} 
#sectionfiltres {
    display: flex;
    font-family: 'policereserviabold';
    font-size: 16px;  
    padding-top: 15px;  
}
#sectionfiltres h3 {
    margin-right: 30px; 
}
#choixfiltres {
    display: flex; 
}
#signefiltre1, #signefiltre2, #signefiltre3, #signefiltre4 {
    display: flex; 
    border: 2px solid #F2F2F2;
    border-radius: 30px 30px 30px 30px;
    margin-right: 25px;
    border-left-color: #DEEBFF;    
    height: 40px; 
}
.signe {
    border : 10px solid #DEEBFF;
    border-radius: 50px/50px;
    background-color: #DEEBFF;  
}
.name  {
    margin-left: 15px; 
    margin-right: 15px;
    margin-top: 10px;        
}   
.name:hover {
    text-decoration: underline;
    color: #0065FC;
}
#lieu  {
    border: 2px solid  #F2F2F2;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 10px;
    font-weight: bold;
    font-family: 'policereserviabold';
    font-size: 14px;    
}
button {
    display: none; 
}
#sectionrecherchefiltres p {
    margin-left: 30px; 
}
#iconeannonce {
    margin-top: 30px;   
    font-family: 'policereservia';
    font-size: 15px; 
}
#sectionhebergementsetlpp {
    display: flex; 
    margin-left: 30px;
    margin-right: 30px; 
    margin-top: 30px;    
}
#sectionhebergementsetlpp a {
    color: black;
    font-weight: bold;
    text-decoration: none;
}
#sectionhebergementsetlpp a:visited {
    color: black;
}
#hebergementsamarseille  {
    padding-right: 30px;
    background-color: #F2F2F2;
    border-radius: 20px; 
    width: 65%;     
}
#hebergementsamarseille h2 {
    margin-left: 30px;
    margin-top: 30px; 
}
#hebergementsamarseille p {
    font-family: 'policereserviabold';
    font-size: 12px; 
    margin-left: 30px; 
    padding-top: 25px;
}
.containerhebergement {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;      
}
.prixhebergement {
    margin-top: 3px;   
    margin-left: 10px; 
    margin-top: 3px; 
    font-family: 'policereservia';
    font-size: 11px; 
}
.stars {
   margin-top: 5px;
   font-size: 11px;  
   margin-left: 10px; 
   margin-top: 3px;    
}
.hebergement  {
    border-radius: 15px 15px 15px 15px; 
    margin-left: 30px;   
    margin-top: 10px;
    border: 2px solid white;  
    border-bottom: 10px solid white;
    font-size: 12px; 
    background-color: white;
    margin-bottom: 10px;  
    box-shadow: 2px 2px 6px #cfd2d2; 
}
.hebergementpic {
    border-radius: 15px 15px 0px 0px; 
    background-color: white;
    width: 250px; 
    height: 101px; 
    object-fit: cover;  
}
.titlehebergement {
    font-family: 'policereserviabold';
    font-size: 12px; 
    border: 2px solid white; 
    background-color: white;
    margin-left: 8px;    
}
.hebergement a {
    color: black;
    text-decoration: none;
}
.hebergement a:visited {
    color:black;
}
#containerlespluspopulaires {
    margin-left: 30px; 
    background-color: #F2F2F2;   
    border-radius: 20px;
    width: 35%;
    padding-bottom: 30px;      
}
#containerlespluspopulaires h2 {
    margin-left: 30px;
    margin-top: 30px; 
}
#containerlespluspopulaires h2 i {
    color: black;
    margin-left: 150px; 
}  
.titlelpp {
    margin-right: 30px;  
    font-family: 'policereserviabold';
    padding-right: 30px;
    font-size: 12px;  
    margin-top: 10px; 
    margin-left: 150px;    
}  
.prixlpp {
    font-family: 'policereservia';
    margin-top: 5px; 
    font-size: 11px; 
    margin-left: 150px; 
}
.starslpp {
    position: relative;
    top: 30px;
    margin-left: 150px;
    font-size: 11px; 
}
.hebergementlpp {
    display: flex;
    background-color: white;
    border-radius: 15px;
    margin-right: 30px;
    margin-left: 30px; 
    margin-top: 30px;   
    box-shadow: 2px 2px 6px #cfd2d2;     
}
#imageflottante1, #imageflottante2, #imageflottante3 {
    float: left;
}
.dessous {
    clear: left;
}
.piclpp {
    border: 3px solid white; 
    border-radius: 15px 15px 15px 15px;  
    width: 130px;
    height: 110px; 
    object-fit: cover; 
}
.hebergementlpp a {
    color: black;
    text-decoration: none;    
}
.hebergementlpp a:visited {
    color: black;
}

#sectionactivites h2  {
    margin-top: 50px;
    margin-left: 30px; 
    height: 10px;  
}
#containermarseille1et2 {
    display: flex; 
    margin-right: 30px; 
    margin-left: 30px;    
}
#containermarseille1, #containermarseille2 {
    display: flex;         
}
.titleactivity {
    margin-left: 20px;
    padding-bottom: 15px;  
    font-family: 'policereserviabold';
    font-size: 12px;  
}
.activitymarseille, .activitymarseille1 {  
    box-shadow: 6px 6px 6px #F2F2F2;
    border-radius : 20px 20px 20px 20px; 
    margin-right: 80px;   
}
.activitymarseille1 {
    margin-top: 50px; 
}
.photoactivity1, .photoactivity2, .photoactivity3 {
    border-radius : 20px 20px 0px 0px;    
}
.activitymarseille a, .activitymarseille1 a {
    color: black;
    text-decoration: none;
}
.activitymarseille a:visited, .activitymarseille1 a:visited {
    color:black;
}
.photoactivity1  {
    width: 280px; 
    height: 400px; 
    object-fit: cover;      
}
.photoactivity2, .photoactivity3 {
    width: 280px;
    height: 150px; 
    object-fit: cover;
}
#footer {
    display: flex;
    background-color: #F2F2F2;
    margin-top: 30px;     
}
#apropos, .hebergementassistance {
    margin-top: 30px;
    font-family: 'policereserviabold';
    font-size: 14px;   
}
#apropos {
    margin-left: 30px; 
}
.hebergementassistance {
    margin-left: 300px; 
}
#apropos a, .hebergementassistance a {
    font-family: 'policereservia';
    font-size: 13px; 
    color: black; 
    text-decoration: none; 
}
#propos a:visited, .hebergementassistance a:visited {
    color:black;
}
@media screen and (max-width: 1395px) {
.photoactivity1  {
    width: 250px; 
    height: 400px; 
    object-fit: cover;      
}
.photoactivity2, .photoactivity3 {
    width: 250px;
    height: 150px; 
    object-fit: cover;
}
.activitymarseille, .activitymarseille1 {  
    margin-right: 50px;   
}
}
@media screen and (max-width: 1354px) {
#sectionhebergementsetlpp {
    display: block;
}
.titlelpp {
    font-size: 15px; 
    margin-left: 20px; 
    margin-top: 0px; 
    display: flex;
    
}
.starslpp {
    margin-left: 20px; 
    top: 10px;
    padding-bottom: 20px; 
}
.prixlpp {
    font-size: 14px; 
    margin-left: 20px; 
    margin-top: 10px; 
}
.piclpp {
    width: 310px;
    height: 230px;
    border-radius: 20px 20px 0px 0px;
    border: 5px solid white;
}
.titlelpp {
    width: 150px; 
}  
.hebergementlpp {
    border-radius: 20px 20px 20px 20px;     
}
#containerlespluspopulaires {
    margin-left: 0; 
    padding-bottom: 50px;   
    margin-top: 50px; 
    width: auto;         
}
#cardslpp {
   display: flex; 
   justify-content: space-between;   
}
#imageflottante1, #imageflottante2, #imageflottante3 {
float: none; 
}
#hebergementsamarseille {
    width:auto; 
    padding-bottom: 30px; 
}
.hebergementpic {
    width: 320px; 
    height: 200px; 
}
#hebergementsamarseille h2, #containerlespluspopulaires h2 {
    padding-top: 30px; 
}
}
@media screen and (max-width: 1212px) {
.piclpp {
    width: 260px;
    height: 180px; 
}
.hebergementpic {
    width: 280px; 
    height: 150px; 
} 
}
@media screen and (max-width: 1185px) {
    #containermarseille1, #containermarseille2 {
        display:block;    
    }
    .photoactivity1, .photoactivity2, .photoactivity3 {
         width: 400px; 
         height: 450px;     
    }
    .activitymarseille, .activitymarseille1 { 
        box-shadow: 6px 6px 6px #F2F2F2; 
        margin-top: 50px;   
    }
    .titleactivity {
        padding-bottom: 30px; 
        padding-top: 30px; 
        font-size:  15px;   
    }
    #containermarseille2 {
       margin-left: 60px; 
   }
    #sectionfiltres {
        font-size: 15px; 
    }  
}
@media screen and (max-width: 1070px) {
    .hebergementassistance {
        margin-left: 200px; 
    }
    .piclpp {
        width: 220px;
        height: 150px; 
    }
}
@media screen and (max-width: 1012px) {
    .hebergementpic {
        width: 250px; 
        height: 150px; 
    }
    .photoactivity1, .photoactivity2, .photoactivity3 {
        width: 350px; 
        height: 400px;     
   }           
}
@media screen and (max-width: 930px) {
    #cardslpp {
        display: block;     
    }
    .hebergementlpp {
        width: auto; 
    }
    #imageflottante1, #imageflottante2, #imageflottante3 {
        float:left;    
    }
    .piclpp {
        width: 400px; 
        height: 250px; 
       border-radius:20px 0px 0px 20px; 
    }
    .titlelpp, .prixlpp, .starslpp {
        margin-left: 480px;     
    }
    .titlelpp {
        margin-top: 50px; 
    }
    .prixlpp {
        margin-top: 30px
    }
    .starslpp {
        margin-top: 80px; 
    }
    .hebergementpic {
        width: 200px; 
        height: 150px; 
    }
    .hebergementassistance {
        margin-left: 150px; 
    }
    .photoactivity1, .photoactivity2, .photoactivity3 {
        width: 300px; 
        height: 350px;     
   }
}
@media screen and (max-width: 890px) {
   #sectionfiltres {
        display:flex; 
        flex-wrap: wrap;     
    }
}
@media screen and (max-width: 820px) {
    .piclpp {
        width: 300px; 
        height: 200px;  
    }
    .titlelpp, .prixlpp, .starslpp {
        margin-left: 330px;    
    }
    .titlelpp {
        margin-top: 20px; 
    }
    .prixlpp {
        margin-top: 30px;
    }
    .starslpp {
        margin-top: 60px; 
    }
    .hebergementassistance {
        margin-left: 90px;
    }
    .hebergementpic {
        width: 190px; 
        height: 110px; 
    }      
}
@media screen and (max-width: 768px) {
    #choixfiltres {
        flex-wrap: wrap;       
    }  
    .containerhebergement {
        display: block;    
    }
    .hebergementpic {
        width: 400px; 
        height: 200px;      
    }
    .hebergement {
        width: 400px;
        margin: 0 auto; 
        margin-top: 30px;    
    }
    #containermarseille2 {
        margin-left: 10px;   
    }
    .activitymarseille, .activitymarseille1 {  
        margin-top: 30px;   
    }
    .photoactivity1, .photoactivity2, .photoactivity3 {
        width: 250px; 
        height: 200px; 
    }
    #footer {
        display: block;
        padding-bottom: 100px;
        width: 900px;        
    }
    #apropos, .hebergementassistance {
        padding-top: 30px;  
        font-size: 20px;
        margin-left: 30px; 
    }
    #apropos a, .hebergementassistance a {
        font-size: 18px; 
    }   
         
}
@media all and (max-width: 656px) {
.photoactivity1, .photoactivity2, .photoactivity3 {
    width: 500px; 
    height: 300px; 
}
#containermarseille1et2 {
    display: block;
}
.activitymarseille, .activitymarseille1 {
    width: 500px; 
}
.piclpp {
    width: 180px; 
    height: 200px;
}
.titlelpp, .starslpp, .prixlpp {
    margin-left: 210px;  
}
.hebergementpic {
    width: 380px;
    height: 200px; 
}
.hebergement {
    width: 380px; 
    margin-left: 20px; 
}
}
@media all and (max-width: 550px) {
.photoactivity1, .photoactivity2, .photoactivity3, .activitymarseille,.activitymarseille1 {
    width: 400px;    
    }
}
@media all and (max-width: 480px) {
body {
    overflow-x: hidden;
}
h1 {
    font-size: 60px; 
    white-space: nowrap; 
}
h3 {
    font-size: 45px; 
}
h4 {
    font-size: 30px; 
    white-space: nowrap;   
}
#logo img {
    width: 70%; 
}
#menus {
    display: flex;         
}
#menus, #menus a {
    list-style-type: none; 
    justify-content: space-between;
    display: flex;
}
ul {
    display: block;
}
#menu3 {
    position: relative; 
    left: -500px; 
    bottom: 150px; 
}
#menu2 {
    position: relative; 
    padding-right: 400px; 
    padding-left: 400px; 
    border-bottom: 10px solid #F2F2F2; 
} 
#menu1 {
    padding-left: 200px; 
    padding-right: 300px; 
    border-bottom: 10px solid #0065FC; 
}
#menu1 h3 {
    border-top: none; 
}
header {
    display: unset;
    justify-content: unset;
    justify-content: unset;     
}
.menus123 {
    list-style-type: none;
    margin-right:0px;
}
ul {
    display: unset;   
}
#menus h3 {
    font-size: 50px; 
}
#lieu {
    font-size: 45px; 
    padding-left: 30px;
    padding-top: 40px; 
    padding-bottom: 30px; 
    border: 1px solid #F2F2F2;
    border-right: none;     
}
form {
    width: 900px;    
}
#sectionrecherchefiltres form i {
    Font-size: 45px; 
    margin-left: 10px; 
    border: 15px solid #F2F2F2;
    padding-top: 30px; 
    padding-bottom: 23px; 
    border-radius: 30px 0px 0px 30px;
    padding-left: 30px;
    padding-right: 30px; 
}
button {
    display: unset; 
    background-color:#0065FC;
    border-radius: 30px 30px 30px 30px; 
    padding-left: 10px;
    padding-right: 20px; 
    border-color: #0065FC;
    padding-top: 35px;
    padding-bottom: 5px;    
}
#sectionrecherchefiltres form button i {
    background-color:#0065FC; 
    color: white; 
    border: 8px solid #0065FC;
    border-radius: 30px 30px 30px 30px;
    font-size: 45px;
    border-color: #0065FC; 
    padding-top: 0px; 
}
 #bouton {
     display: none; 
 }  

#sectionfiltres h3 {
    font-size: 45px; 
}
#choixfiltres {
    flex-wrap: wrap;  
}
#sectionfiltres {
    display: block; 
    font-size: 40px;  
    width: 900px;
    margin-left: 30px;         
}
.signe {
    border: 30px solid #DEEBFF; 
}
#signefiltre1, #signefiltre2, #signefiltre3, #signefiltre4 {
    margin-top: 30px; 
    border-radius: 100px 100px 100px 100px;    
    border: 5px solid #F2F2F2;  
    padding-right: 35px; 
    height: auto; 
    width: auto; 
}
#iconeannonce {
    font-size: 30px; 
    white-space: nowrap;
    margin-left: 30px; 
}
#sectionhebergementsetlpp {
    display: flex;
    flex-direction: column-reverse; 
    margin-left: 0px;   
}
#containerlespluspopulaires {
    width: 1900px;  
    border-radius: 0px;
    margin-top: 50px;       
}
.piclpp {
    width: 900px; 
    height: 500px; 
    border-radius: 50px 0px 0px 50px;
}
.titlelpp, .prixlpp {
    font-size: 40px;  
}
.titlelpp {
    margin-top: 50px; 
    width: 400px; 
}
.starslpp, .titlelpp, .prixlpp {
    margin-left: 1000px;   
}
.starslpp {
    top: 140px;
}
.prixlpp {
    margin-top: 80px;
}
.hebergementlpp { 
    border-radius: 50px 50px 50px 50px;  
    width: 1700px;    
    margin-bottom: 100px;  
} 
#containermarseille1et2 {
    display: block;  
}
#containermarseille1 {
    margin-top: 100px; 
}
.photoactivity1, .photoactivity2, .photoactivity3, .hebergementpic {
    width: 1600px; 
    height: 800px; 
    border-radius: 80px 80px 0px 0px;   
}
.hebergement,.activitymarseille ,.activitymarseille1 {
    width: 1600px; 
    margin-bottom: 100px; 
    border-radius: 80px 80px 80px 80px;     
}
.activitymarseille ,.activitymarseille1 {
    margin-left: 30px; 
}
.titleactivity {
    font-size: 40px; 
    padding-left: 50px; 
    padding-bottom: 50px; 
    padding-top: 50px;    
}
#hebergementsamarseille {  
    background-color: transparent;  
    margin-left: 30px;   
}
#hebergementsamarseille h2, #containerlespluspopulaires h2, #sectionactivites h2 {
    font-size: 50px; 
    white-space: nowrap;
    padding-bottom: 30px;    
}
#sectionactivites h2 {
    margin-left: 60px; 
}
.stars {
    margin-top: 10px; 
}
.prixhebergement, .stars, .titlehebergement { 
    margin-left: 80px; 
}
.prixhebergement, .stars {
    margin-top: 20px;
}
#hebergementsamarseille  p, .prixhebergement, .stars, .titlehebergement {
    font-size: 40px; 
}
#footer {    
    margin-top: 150px;   
    padding-bottom: 200px;
    width: 2000px;  
}
#apropos, .hebergementassistance  {
    font-size: 50px;
    padding-top: 100px;     
}
#apropos, .hebergementassistance{
    margin-left: 80px; 
}
#apropos a, .hebergementassistance a {
 font-size: 40px;
}
}
@media all and (max-width: 444px) {
#menu3 {
    padding-left: 50px;    
}
#menu2 {
    padding-right: 280px; 
    padding-left: 450px;       
} 
#menu1 {
    padding-right: 250px;   
}
.piclpp {
    width: 700px; 
    height: 400px;    
}
.titlelpp, .starslpp, .prixlpp {
    margin-left: 800px;   
}
.titlelpp {
    margin-top: 50px; 
}
.starslpp {
    top: 60px;
}
.prixlpp {
    margin-top: 60px;
}
#containerlespluspopulaires {
    width: 1800px; 
}
.photoactivity1, .photoactivity2, .photoactivity3 {
    width: 1500px; 
    height: 800px; 
}
.activitymarseille, .activitymarseille1 {
    width: 1500px;  
}
.hebergement {
    width: 1500px;   
}
.hebergementpic {
    width: 1500px;
    height: 800px;
}
.hebergementlpp {
    width: 1600px; 
}
#hebergementsamarseille h2, #hebergementsamarseille p {
    white-space: nowrap;
}
}
@media all and (max-width: 434px) {
.photoactivity1, .photoactivity2, .photoactivity3, .hebergementpic {
    width: 1500px; 
    height: 800px; 
}
.activitymarseille, .activitymarseille1, .hebergement {
    width: 1500px;    
}
.hebergementlpp {
    width: 1600px;     
}
    
}
@media all and (max-width: 425px) {
.photoactivity1, .photoactivity2, .photoactivity3, .hebergementpic {
    width: 1300px; 
    height: 600px; 
}
.activitymarseille, .activitymarseille1, .hebergement {
    width: 1300px;    
}
.hebergementlpp {
    width: 1400px;     
}

}
@media all and (max-width: 420px) {
h1 {
    white-space: normal;
    width: 1200px; 
    }
}
@media all and (max-width: 390px) {
    #menu2 {
        padding-right: 200px;   
    }
    #menu1 {
        padding-right: 150px;    
        padding-left: 180px; 
    }
    .piclpp {
        width: 500px; 
        height: 400px;   
    }
    .titlelpp, .starslpp, .prixlpp {
        margin-left: 600px; 
    }
    .titlelpp {
        margin-top: 50px;
    }
    .starslpp {
        top: 60px;
    }
    .prixlpp {
        margin-top: 60px;
    }
    .hebergementlpp {
        width: 1300px; 
    }
}
@media all and (max-width: 350px) {
    .photoactivity1, .photoactivity2, .photoactivity3, .hebergementpic {
        width: 1100px; 
        height: 400px; 
    }
    .activitymarseille, .activitymarseille1, .hebergement {
        width: 1100px;    
    }
    .hebergementlpp {
        width: 1200px;      
    }
    .starslpp {
        top: 40px; 
    }
    .prixlpp {
        margin-top: 10px; 
    }
}
@media all and (max-width: 340px) {
    #menu2 {
        padding-right: 300px; 
        padding-left: 300px;   
    }
    #menu1 {
        padding-left: 100px; 
        padding-right: 100px;    
    }       
}
@media all and (max-width: 323px) {
    .hebergementlpp {
        width: 1100px; 
    }
}       