@media all and (max-device-width: 768px) {
    h1 {
        font-size: 50px;
     }
    h2 {
         font-size: 45px;
     }

    h3 {
        font-size: 40px;
    }
}

@media all and (max-device-width: 768px) {

    #logo img {
        width: 30%; 
    }
    #logoetmenus {
        flex-wrap: nowrap; 
        max-width: none; 
        margin-right: 0px; 
        justify-content: inherit;
    }
    
    #menus23, #logomenu1 {
	    display: block;
    }
    #menu3 h3 {
        border-bottom: 10px solid #F2F2F2;
        margin-top: 105px;
        padding-left: 300px; 
        padding-right: 150px; 
    }
    #menu1 h3 {
        border-top: none; 
        border-bottom: 10px solid blue;
        padding-left: 100px; 
        padding-right: 220px; 
        padding-top:0px;
        margin-top: 250px; 
    } 
    #menu2 h3{
        margin-left: 350px; 
        margin-top: 100px;
    }
    #menu3 h3, #menu1 h3, #menu2 h3 {
        font-size: 40px;
    }
    #menu3 h3, #menu1 h3 {
        margin-left: 0px;
        padding-bottom: 30px;
    }
}

@media all and (max-device-width: 768px) {

    #section1 p {
        font-family: 'policereservia'; 
        font-size: 15px; 
        margin-left: 30px;
    }
    #section1 h1, #section1 h3, #filtres {
        margin-left: 30px; 
    }
    #choixfiltres {
        flex-wrap: wrap;
    }
    #sectionfiltres{
        display: block; 
        font-size: 40px;       
    }
    .signe {
        border: 30px solid #DEEBFF; 
    }
    #signefiltre1, #signefiltre2, #signefiltre3, #signefiltre4 {
        margin-top: 30px; 
        border-radius: 100px 100px 100px 100px;    
        border: 5px solid #F2F2F2;  
        padding-right: 35px; 
    }
    .name {
        margin-bottom: 20px; 
        margin-top: 20px; 
        margin-left: 20px; 
        margin-right: 20px; 
    }
    #signefiltre1, #signefiltre3 {
        width: 40%; 
    }
    #signefiltre2 {
        width: 30%;
    }
    #signefiltre4 {
        width: 55%;    
    }
    #lieu, #bouton {
        font-size: 45px; 
        padding-left: 20px;
        padding-top: 30px; 
        padding-bottom: 30px;      
    }
    #section1 form i {
        font-size: 30px; 
        margin-left: 10px; 
        border: 15px solid #F2F2F2;
        padding-top: 35px; 
        padding-bottom: 25px; 
        border-radius: 30px 0px 0px 30px;
    }
}
@media all and (max-device-width: 768px) {
    #section2 h3 {
        font-family: 'policereservia'; 
        font-size: 15px; 
        margin-left: 30px;
    }    
}

@media all and (max-device-width: 768px) {
    .stars {
        font-size: 15px;  
        margin-top: 10px; 
    }
    .titlehebergement {
        font-size: 40px;       
    }
    .prixhebergement {
        font-size: 25px;       
    }
    .stars, .titlehebergement, .prixhebergement {
        margin-left: 30px; 
    }
    #section3 {
        display: flex;
        flex-direction: column-reverse;
        width: 1220px; 
    }
    .containerhebergement {
        display: block;
    }
    #hebergementsamarseille {
        background-color: white; 
        margin-top: 50px; 
    }
    .hebergement {
        border-radius: 60px 60px 60px 60px; 
        margin-bottom: 60px; 
        box-shadow: 20px 20px 20px #F2F2F2;
        margin-right: 35px;    
    }
    .hebergementpic {
        width: 1100px;
        height: 550px;
        border-radius: 60px 60px 0px 0px;      
    } 
    #section3 h3 {
        font-size: 45px; 
        padding-top: 50px;    
    }
}

@media all and (max-device-width: 768px) {
    .titlelpp {
        font-size: 55px; 
        margin-right: 10px; 
        margin-left: 530px; 
        margin-top: 80px; 
    }
    .starslpp {
        font-size: 40px; 
        margin-left: 530px; 
        top: 150px;
    }
    .prixlpp {
        font-size: 50px; 
        margin-left: 530px; 
    }
    .piclpp {
        width: 450px;
        height: 500px;
        border-radius: 60px 0px 0px 60px; 
        border: 5px solid white;
    }
    #containerlespluspopulaires h1 {
        margin-left: 30px; 
        padding-top: 30px; 
        padding-bottom: 50px; 
    }
    #containerlespluspopulaires h1 i {
        margin-left: 400px; 
    } 
    .hebergementlpp {
        border-radius: 60px 60px 60px 60px; 
        margin-left: 30px; 
        width: 1100px;    
        margin-bottom: 50px; 
    }
    #containerlespluspopulaires {
        border-radius: 0px 0px 0px 0px; 
        max-width: none;           
   }
}

@media all and (max-device-width: 768px) {
    #containermarseille, .containeractivity {
        display: block; 
    }
    #section4 {
        margin-top: 100px; 
        margin-left: 30px; 
        margin-right: 30px;     
    }  
    .photoactivity1, .photoactivity {
        width: 1100px; 
        height: 550px; 
        border-radius: 60px 60px 0px 0px; 
    }
    .firstpic, .containeractivity {
        width: 1160px; 
    } 
    .activitymarseille, .activitymarseille1 {
        margin-bottom: 60px; 
        border-radius: 60px 60px 60px 60px; 
        text-shadow: 20px 20px 20px #F2F2F2; 
        box-shadow: 20px 20px 20px #F2F2F2;
        margin-right: 30px; 
        width: 1100px;    
    }
    .titleactivity {
        font-size: 55px; 
        padding-bottom: 40px;
        padding-top: 50px; 
    }
}
@media all and (max-device-width: 768px) {
    #footer {
        display: block;
        margin-top: 150px;   
        padding-bottom: 100px;
        width: 900px; 
    }
    #apropos, #hebergementfooter, #assistance {
        padding-top: 100px;       
    }
    #apropos {
        margin-left: 30px;  
    }
    .lienapropos {
        margin-left: 30px; 
    }

    #hebergementfooter , #assistance {
        margin-left: 30px; 
    }
    .liensha {
        margin-left: 30px; 
    }
    .lienapropos a, .liensha a {
        font-size: 35px; 
    }
}
