@media all and  (max-width: 768px) {

 
    h1 {
        font-size: 80px;    
    }
    h2 {
        font-size: 70px;
    }
    h3 {
        font-size: 50px;
    }
    h4 {
        font-size: 40px; 
    }
    
    #logo img {
        height: 70%; 
        margin-left: 80px; 
    }
    .menus123 a h3 {
        font-size: 40px; 
    }
    header {
       width: 2000px;
    }
    
    #sectionrecherchefiltres h1, #sectionrecherchefiltres h4 {
        width: 1500px; 
        margin-left: 80px; 
    }
    #sectionrecherchefiltres p {
        font-family: 'policereservia'; 
        font-size: 40px; 
    }
    
    
    #sectionfiltres h3 {
        font-size: 45px; 
        
       
    }
    #choixfiltres {
    flex-wrap: wrap;
    
    }
    #sectionfiltres{
    display: block; 
    font-size: 40px; 
    width: 2000px; 
    margin-bottom: 80px;  
    margin-left: 80px; 
    
    }
    .signe {
    border: 30px solid #DEEBFF; 
    }
    #signefiltre1, #signefiltre2, #signefiltre3, #signefiltre4 {
    margin-top: 30px; 
    border-radius: 100px 100px 100px 100px;    
    border: 5px solid #F2F2F2; 
    }
    #signefiltre1 {
        margin-left: ; 
    }
    .name {
        margin-top: 20px; 
        margin-right: 20px; 
    }
    #signefiltre1, #signefiltre3 {
    height: 40%; 
    }
    #signefiltre2 {
    height: 35%;
    }
    #signefiltre4 {
    height: 50%;    
    }
    
    
    
    
    
    
    
    
    
    #lieu {
        font-size: 45px; 
        padding-left: 30px;
        padding-top: 40px; 
        padding-bottom: 30px; 
        border: 1px solid #F2F2F2;
        border-right: none; 
         
    }
    form {
        width: 1000px; 
        margin-left: 70px; 
    }
    #sectionrecherchefiltres form i {
        Font-size: 45px; 
        margin-left: 10px; 
        border: 15px solid #F2F2F2;
        padding-top: 30px; 
        padding-bottom: 23px; 
        border-radius: 30px 0px 0px 30px;
        padding-left: 30px;
        padding-right: 30px; 
    }
    button {
        display: unset; 
        background-color:#0065FC;
        border-radius: 30px 30px 30px 30px; 
        padding-left: 10px;
        padding-right: 20px; 
        border-color: #0065FC;
        padding-top: 35px;
        padding-bottom: 5px;    
    }
    #sectionrecherchefiltres form button i {
        background-color:#0065FC; 
        color: white; 
        border: 8px solid #0065FC;
        border-radius: 30px 30px 30px 30px;
        font-size: 45px;
        border-color: #0065FC; 
        padding-top: 0px; 
    }
    #bouton {
        display: none; 
    }  
    #iconeannonce {
        font-family: 'policereservia'; 
        font-size: 40px;
        margin-left: 80px;
        width: 1800px; 
    }  
    .stars {
        margin-top: 10px; 
    }
    .titlehebergement {
        font-size: 55px;  
        margin-left: 50px;      
    }
    .prixhebergement, .stars {
        font-size: 45px; 
        margin-top: 20px; 
        margin-left: 50px; 
    }
    #sectionhebergementsetlpp {
        display: flex;
        flex-direction: column-reverse;   
    }
    .containerhebergement {
        display: block;
    }
    #hebergementsamarseille {
        background-color: white; 
        margin-top: 50px; 
        margin-left: 30px; 
    }
    #hebergementsamarseille h2 {
        padding-bottom: 30px; 
        white-space: nowrap;
        margin-left: 30px; 
    }
    .hebergement {
        border-radius: 60px 60px 60px 60px; 
        margin-bottom: 60px; 
        box-shadow: 20px 20px 20px #F2F2F2;
        margin-right: 35px;  
        width: 1900px; 
    }
    .hebergementpic {
        width: 1900px;
        height: 800px;
        border-radius: 60px 60px 0px 0px;      
    } 
    
    #hebergementsamarseille p {
        font-size: 55px;
    }
    .titlelpp {
        font-size: 50px; 
        margin-left: 950px; 
        margin-top: 80px; 
        width: 450px; 
    }
    .starslpp {
        font-size: 45px; 
        margin-left: 950px; 
        top: 150px;
    }
    .prixlpp {
        margin-left: 950px; 
        font-size: 45px; 
    }
    .piclpp {
        width: 700px;
        height: 600px;
        border-radius: 60px 0px 0px 60px; 
        border: 5px solid white;
    }
    #containerlespluspopulaires h2 {
        margin-left: 80px; 
        margin-top: 30px; 
        padding-bottom: 50px; 
    }
    .hebergementlpp {
        border-radius: 60px 60px 60px 60px;  
        margin-bottom: 50px; 
        margin-left: 80px; 
        margin-right: 80px; 
    }
    #containerlespluspopulaires {
        width: 2100px; 
        margin-left: 0px;
        margin-right: 0px;  
    }
        
    #containermarseille, .containeractivity {
        display: block; 
    }
    #sectionactivites h2 {
        white-space: nowrap;
        height: 80px;   
        margin-left: 80px;     
    }
    #containermarseille2 {
        margin-left: 200px;   
    }
    #containermarseille1et2 {
        margin-left: 80px; 
    }
    .photoactivity1, .photoactivity2, .photoactivity3 {
        width: 800px; 
        height: 900px; 
        border-radius: 60px 60px 0px 0px;     
    }
    .activitymarseille, .activitymarseille1 {
        margin-bottom: 60px; 
        border-radius: 60px 60px 60px 60px; 
        box-shadow: 20px 20px 20px #F2F2F2;
        margin-right: 30px; 
        width: 800px;    
    }
    .titleactivity {
        font-size: 50px; 
        padding-bottom: 60px;
        padding-top: 50px; 
        margin-left: 50px; 
    }
    #footer {
        
        margin-top: 150px;   
        padding-bottom: 200px;
        width:2100px; 
    }
    #apropos, .hebergementassistance  {
        font-size: 45px;
        padding-top: 100px;     
    }
    #apropos {
        margin-left: 80px; 
    }
    .hebergementassistance {
        margin-left: 150px; 
    }
    #apropos a, .hebergementassistance a {
     font-size: 40px;
    
    }
    
    }
    
    @media all and (max-width: 530px) {
    
        #logo img {
            width: 70%; 
        }
        #menus {
            display: flex; 
            
        }
        
        #menus, #menus a {
            list-style-type: none; 
            justify-content: space-between;
             display: flex;
            
            
        }
        ul {
            display: block;
        }
        #menu3 {
            position: relative; 
            left: -500px; 
            bottom: 150px; 
    
            
        }
        #menu2 {
            position: relative; 
             padding-right: 400px; 
            padding-left: 400px; 
            border-bottom: 10px solid #F2F2F2; 
          
            
        } 
        #menu1 {
        
            padding-left: 200px; 
            padding-right: 300px; 
            border-bottom: 10px solid #0065FC; 
            
        }
        
        header {
            display: unset;
            justify-content: unset;
            justify-content: unset;  
            
        }
        .menus123 {
            list-style-type: none;
            margin-right:0px;
          
                
        }
        ul {
            display: unset;   
        }
    
    
    #menus h3 {
        font-size: 60px; 
    }
    
    #sectionfiltres {
        width: 900px; 
    }
    
    #signefiltre3 {
        margin-left: 0px; 
    }
    
    
    
    .piclpp {
        width: 400px; 
        height: 400px; 
    }
    .titlelpp {
        margin-left: 450px; 
        margin-top: 20px; 
    }
    .starslpp {
        margin-left: 450px; 
        top: 60px;
    }
    .prixlpp {
        margin-left: 450px;
    }
    .hebergementlpp {
        width: 1800px;      
    }
    
    #containermarseille1et2 {
        display: block; 
    }
    
    #containermarseille2 {
        margin-left: 0px;   
    }
    #containermarseille1et2 {
        margin-left: 80px; 
    }
    
    .photoactivity1, .photoactivity2, .photoactivity3 {
        width: 1850px; 
        height: 800px; 
    }
    .activitymarseille, .activitymarseille1 {
        width: 1850px;    
    }
    .hebergement {
        width: 1850px; 
    
    }
    .hebergementpic {
        width: 1850px;
        height: 800px;
          
    } 
    }
    
    
    
    
    
    
    
    
    
    
    
    @media all and (max-width: 480px) {
    
        
       .starslpp {
           top: 40px; 
       }
        .hebergementlpp {
            width: 1700px;      
        }
        #iconeannonce {
            font-size: 40px; 
        }
        #apropos h2, #hebergementfooter h2, #assistance h2 {
            font-size: 55px; 
        }
        .lienapropos a, .liensha a {
            font-size: 45px; 
        }
      
      
    #hebergementsamarseille h2 {
        margin-left: px; 
    
    }
    #hebergementsamarseille {
        width: 100%; 
    }
        
    .photoactivity1, .photoactivity2, .photoactivity3 {
        width: 1500px; 
        height: 800px; 
    }
    .activitymarseille, .activitymarseille1 {
        width: 1500px;    
    }
    .hebergement {
        width: 1500px; 
        margin-left: 30px; 
    
    }
    .hebergementpic {
        width: 1500px;
        height: 800px;
          
    
    
    }
    
    }
    
    
    
    
    @media all and (max-width: 444px) {
        #menu3 {
            padding-left: 50px;    
        }
        #menu2 {
            padding-right: 280px; 
            padding-left: 300px;       
        } 
        #menu1 {
        padding-right: 250px;   
        }
       
    
       
        .photoactivity1, .photoactivity2, .photoactivity3 {
            width: 1500px; 
            height: 800px; 
        }
        .activitymarseille, .activitymarseille1 {
            width: 1500px;  
            margin-left: 100px;   
        }
        #sectionactivites h2 {
        margin-left: 180px; 
    }
    
    
        .hebergement {
            width: 1500px; 
            margin-left: 100px; 
        
        }
        .hebergementpic {
            width: 1500px;
            height: 800px;
        }
    
    
        .hebergementlpp {
            width: 1500px; 
        }
    
    #hebergementsamarseille h2, #hebergementsamarseille p {
        margin-left: 100px; 
        white-space: nowrap;
    }
    
    #footer {
        display: block; 
    }
    .hebergementassistance {
        margin-left: 80px; 
    }
    
    
    
    
    
    
    }
    
    
    
    
    
    
    
    
    
    @media all and (max-width: 415px) {
        #sectionrecherchefiltres h1 {
            font-size: 50px;
        }
        
        .titlelpp, .titlehebergement, .titleactivity {
            font-size: 45px; 
        }
        
        .hebergementlpp {
            width: 1500px;      
        }
        #iconeannonce {
            font-size: 40px; 
        }
        #apropos h2, #hebergementfooter h2, #assistance h2 {
            font-size: 45px; 
        }
        .lienapropos a, .liensha a {
            font-size: 40px; 
        }
        #containerlespluspopulaires h1 i {
            margin-left: 700px; 
        } 
        #containerlespluspopulaires h1 {
            font-size: 50px;
        }
        #sectionactivites h1 {
            font-size: 50px; 
        }
        #hebergementsamarseille h1 {
            font-size: 50px; 
        }
        
    }
    
    @media all and (max-width: 407px) {
        #logomenu1 {
            padding-right: 0px;    
        }
        .photoactivity1, .photoactivity2, .photoactivity3 {
            width: 1200px; 
            height: 500px; 
        }
        .activitymarseille, .activitymarseille1 {
            width: 1200px;    
        }
        .hebergement {
            width: 1200px; 
      
        }
        .hebergementpic {
            width: 1200px;
            height: 500px;      
        } 
        #containerlespluspopulaires h1 i {
            margin-left: 700px; 
        } 
        .hebergementlpp {
            width: 1200px;      
        }
    
    }
    
    
    
    @media all and (max-width: 390px) {
        #menu2 {
            padding-right: 200px;   
        }
        #menu1 {
            padding-right: 150px;    
            padding-left: 180px; 
        }
    }
    
    
    
    
    
    
    
    
    @media all and (max-width: 350px) {
        
        #sectionrecherchefiltres h1  {
           width: 900px; 
           font-size: 60px;    
            
        }
        .photoactivity1, .photoactivity2, .photoactivity3 {
            width: 1100px; 
            height: 400px; 
        }
        .activitymarseille, .activitymarseille1 {
            width: 1100px;    
        }
        .hebergement {
            width: 1100px; 
      
        }
        .hebergementpic {
            width: 1100px;
            height: 400px;      
        } 
        #containerlespluspopulaires h1 i {
            margin-left: 500px; 
        } 
        .hebergementlpp {
            width: 1100px;      
        }
    
        .titlelpp, .titlehebergement, .titleactivity {
            font-size: 50px; 
        }
        
        #apropos h2, #hebergementfooter h2, #assistance h2 {
            font-size: 55px; 
        }
        .lienapropos a, .liensha a {
            font-size: 45px; 
        }
       
        #containerlespluspopulaires h1 {
            font-size: 60px;
        }
        #sectionactivites h1 {
            font-size: 60px; 
        }
        #hebergementsamarseille h1 {
            font-size: 60px; 
        }
    }
    
    @media all and (max-width: 340px) {
        #menu2 {
            padding-right: 200px; 
            padding-left: 200px;   
        }
        #menu1 {
            padding-left: 100px; 
            padding-right: 100px;    
        }
        #hebergementsamarseille h2 {
            margin-left: 30px; 
        }
       .hebergement, #hebergementsamarseille p,
       .activitymarseille, .activitymarseille1 {
            margin-left: 30px; 
        }
        #sectionactivites h2 {
            margin-left: 80px; 
        }
    
        
    }