
@font-face {
    font-family: 'policereservia';
    src: url('raleway-regular-webfont.eot');
    src: url('raleway-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('raleway-regular-webfont.woff') format('woff'),
         url('raleway-regular-webfont.ttf') format('truetype'),
         url('raleway-regular-webfont.svg#ralewayregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'policereserviabold';
    src: url('raleway-bold-webfont.eot');
    src: url('raleway-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('raleway-bold-webfont.woff') format('woff'),
         url('raleway-bold-webfont.ttf') format('truetype'),
         url('raleway-bold-webfont.svg#ralewaybold') format('svg');
    font-weight: normal;
    font-style: normal;
}


h1 {
   font-family: 'policereserviabold';
    font-size: 16px;
}
h2 {
    font-family: 'policereserviabold';
    font-size: 12px;
}

h3 {
    font-family: 'policereservia';
    font-size: 13px;
}


@media all and (max-device-width: 768px) {
    
    h1 {
        font-size: 60px;
     }
    h2 {
         font-size: 20px;
     }
}

/* début partie header/menu */

header {
    display: flex; 
}
#logo img {
    width: 100px; 
    height: 50px;    
}
#logomenus {
    display: flex;   
}
nav ul {
    list-style-type: none;
    display: flex; 
}
nav ul strong {
    font-family: 'policereserviabold'; 
}
#menu2 {
    order: -1
}
#menu1 {
    border-top: 2px solid #0065FC;
    margin-left: 500px; 
    margin-top: 30px; 
}
#menu2 {
    margin-left: 30px;    
}
#menu3 {
    margin-left: 30px; 
}
#menu1 a {
    color: #0065FC;
    text-decoration: none;      
}
#menu2 a {
    color: black;
    text-decoration: none;
}
#menu3 a {
    color: #0065FC;
    text-decoration: none;      
}
#menu1 a:visited  #menu3 a:visited {
    color: #0065FC;
}
#menu2 a:visited {
    color: black;
}
i {
    color: #0065FC;
}

@media all and (max-device-width: 768px) {

    #logomenus h3 {
        font-size: 40px; 
    }
    nav ul h3 {
        font-size: 40px; 
    }

    #logo img {
        width: 300px; 
        height: 100px; 
        margin-left: 30px;        
    }

    #logomenus {
    display: block; 
    }
    
    nav ul {
    list-style-type: none;
    display: block; 
    }

    #menu3 {
        margin-left: 200px;    
    }
    #menu1 {
        border-bottom: 3px solid blue; 
        border-top: none; 
        margin-left: 90px; 
    }
    #menu2 {
        border-bottom: 3px solid #F2F2F2; 
        margin-left: 250px; 
        margin-top: 60px;    
    }

}
/*fin */

/* début partie lieu et filtres*/

#section1 p {
    font-family: 'policereservia';
    font-size: 13px; 
}
#bouton {
    background: #0065FC;
    color: white;
    border-radius: 0px 10px 10px 0px;
    border-color :#0065FC;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
}

#section1 form i {
    border: 2px solid #F2F2F2;
    padding-top: 8px;
    padding-bottom: 11px;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 10px 0px 0px 10px;
    background: #F2F2F2;
    color: black;
} 
#sectionfiltres {
    display: flex;
    font-family: 'policereserviabold';
    font-size: 14px;  
}

#choixfiltres {
    display: flex; 
}

#signefiltre1, #signefiltre2, #signefiltre3, #signefiltre4 {
    display: flex; 
    border: 2px solid #F2F2F2;
    border-radius: 30px 30px 30px 30px;
    margin-left: 30px;
    border-left-color: #DEEBFF;    
}

.signe {
    border : 10px solid #DEEBFF;
    border-radius: 50px/50px;
    background-color: #DEEBFF;  
}
 
.name  {
    margin-left: 10px; 
    margin-right: 10px;
    margin-top: 10px;     
}   
.name:hover {
    text-decoration: underline;
    color: pink;
}

#lieu {
    border: 2px solid  #F2F2F2;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    font-weight: bold;
    font-family: 'policereserviabold';
    font-size: 14px;
    
}

@media all and (max-device-width: 768px) {

    #section1 p {
        font-family: 'policereservia'; 
        font-size: 15px; 
        margin-left: 30px;
    }
    #section1 h1 {
        margin-left: 30px; 
    }

    #section1 h3 {
        margin-left: 30px; 
    }
    #filtres {
       
        margin-left: 30px;  
    }
    #choixfiltres {
        flex-wrap: wrap;
    }

    #sectionfiltres{
        display: block; 
        font-size: 40px;    
    }
    #signefiltre1, #signefiltre2, #signefiltre3, #signefiltre4 {
        margin-top: 30px; 
        border-radius: 100px 100px 100px 100px;    
        border: 5px solid #F2F2F2;       
    }
    #signefiltre1, #signefiltre3 {
        width: 40%; 
    }
    #signefiltre2 {
        width: 30%;
    }
    #signefiltre4 {
        width: 55%; 
    }
    #lieu, #bouton {
        font-size: 40px; 
    }
    form i {
        font-size: 40px; 
        margin-left: 30px; 
    }
}
/*fin*/

/* section annonce */

#section2 h5 {
    font-family: 'policereservia';
    font-size: 13px; 
}

@media all and (max-device-width: 768px) {
    #section2 h4 {
        font-family: 'policereservia'; 
        font-size: 15px; 
        margin-left: 30px;
    }

}
/*fin*/

/* début partie hébergements à Marseille */
#section3 {
    display: flex;    
}

#section3 a {
    color: black;
    font-weight: bold;
    text-decoration: none;

}
#section3 a:visited {
    color: black;
}

#hebergementsamarseille  {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    background-color: #F2F2F2;
    border-radius: 20px;  
}
.containerhebergement {
    display: flex;
    justify-content: space-between; 
    margin-top: 30px; 
}
.prixhebergement {
    margin-top: 3px;   
}
.stars {
   margin-top: 5px;        
}
.hebergement  {
    background-color: white;
    border-radius: 10px;   
    padding-bottom: 5px;
    margin-left: 30px; 
}
.hebergementpic {
    border-radius: 10px 10px 0px 0px;
    margin-left:5px;
    margin-right: 5px;
}
.titlehebergement {
    margin-left: 10px;   
    font-family: 'policereservia';
    font-size: 10px;    
}
.titlehebergement strong {
    font-family: 'policereserviabold';
    font-size: 12px;
}
.hebergement a {
    color: black;
    text-decoration: none;
}
.hebergement a:visited {
    color:black;
}
 
@media all and (max-device-width: 768px) {
    .stars {
        font-size: 20px; 
        margin-top: 15px; 
    }
    .titlehebergement strong {
        font-size: 20px; 
    }
    .titlehebergement {
        font-size: 15px; 
    }
    #section3 {
        display: flex;
        flex-direction: column-reverse;
    }
    .containerhebergement {
        display: block;
    }
    #hebergementsamarseille {
        background-color: white; 
        margin-top: 50px; 
    }

    .hebergement {
        margin-bottom: 60px; 
        border-radius: 60px 60px 60px 60px; 
        box-shadow: 20px 20px 20px #F2F2F2;
    }

    .hebergementpic {
        width: 840px;
        height: 350px;
        border-radius: 60px 60px 0px 0px;      
    } 
    .hebergement .titlehebergement {
        
        margin-bottom: 50px; 
    }

}

/* fin */ 

/*début partie les plus populaires */

#containerlespluspopulaires {
    margin-left: 30px;
    padding-top: 20px;
    background-color: #F2F2F2;   
    border-radius: 20px;
    padding-left: 30px; 
}
#containerlespluspopulaires h1 i {
    color: black;
    margin-left: 80px;
}  
.titlelpp {
    margin-left: 100px;  
    font-family: 'policereservia';
    padding-right: 30px;
    font-size: 11px;  
}  
.titlelpp strong {
    font-family: 'policereserviabold';
    font-size: 12px;
}  
.prixlpp {
    margin-top: 3px; 
}
.starslpp {

    position: relative;
    top: 10px;
    margin-left: 100px;
    font-size: 10px; 
}
.hebergementlpp {
    display: flex;
    background-color: white;
    border-radius: 10px;
    margin-right: 30px;
    margin-top: 30px;   
}

.imageflottante {
    float: left;
}
.dessous {
    clear: left;
}
.piclpp {
    margin-left: 3px;
    margin-bottom: 3px;
    border-radius: 10px 0px 0px 10px;      
}

.hebergementlpp a {
    color: black;
    text-decoration: none;
}
.hebergementlpp a:visited {
    color: black;
}

@media all and (max-device-width: 768px) {
    .starslpp {
        font-size: 40px; 
        margin-left: 450px; 
        margin-top: 140px; 
    }
    .titlelpp strong {
        font-size: 45px; 
    }
    .titlelpp {
        font-size: 38px;
    }
    #containerlespluspopulaires {
        font-size: 40px; 
    }
    #containerlespluspopulaires h1 i {
        margin-left: 250px; 
        
    }
    #containerlespluspopulaires {
        margin-left: 0px;
        border-radius: 0px;
        padding-top: 50px; 
                 
    }

    .hebergementlpp .titlelpp {
        margin-left: 450px; 
        margin-top: 50px; 
    }

    .hebergementlpp .starslpp {
        margin-left: 450px; 
        margin-top: 150px;    
    }
    .piclpp {
    width: 400px;
    height: 400px;
    border-radius: 60px 0px 0px 60px; 
    }
   .hebergementlpp {
        border-radius: 70px; 
        margin-bottom: 40px;    
    }
    #containerlespluspopulaires h1 i {
      margin-left: 200px; 
    }    
}
/*fin*/

/*partie activités à marseille */

#section4 h1 {
    margin-top: 30px;
}

#containermarseille {
    margin-top: 10px;
    display: flex;
     
}
.onepic {
    display:flex;
    justify-content: space-between;    
}
.titleactivity {
    margin-left: 10px;
    padding-bottom: 0.8px;  
    font-family: 'policereserviabold';
    font-size: 12px;
    box-shadow: 6px 6px 6px #F2F2F2;
    border-radius: 0px 0px 20px 20px;  
}

.activitymarseille, .activitymarseille1 {
    margin-left: 30px;       
}

.activitymarseille1 {
    margin-top: 30px;
}

.photoactivity, .imgmarseille {
    border-radius : 20px 20px 0px 0px;  
    box-shadow: 6px 6px 6px #F2F2F2;
}
.activitymarseille a, .activitymarseille1 a {
    color: black;
    text-decoration: none;
}

.activitymarseille a:visited, .activitymarseille1 a:visited {
    color:black;
}

@media all and (max-device-width: 768px) {
    #containermarseille, .containeractivity {
        display: block; 
    }
    #section4 {
        margin-top: 100px; 
        margin-left: 30px; 
        margin-right: 30px; 
    }
    .photoactivity {
        width: 840px; 
        height: 450px; 
        border-radius: 60px 60px 0px 0px;
    }
    .imgmarseille {
        object-fit: cover;
        object-position: -20% 40;
        width: 840px; 
        height: 450px; 
        border-radius: 60px 60px 0px 0px;   
    }
    .activitymarseille, .activitymarseille1 {
        margin-bottom: 60px; 
        border-radius: 60px 60px 60px 60px; 
        text-shadow: 20px 20px 20px #F2F2F2;   
    }
    .titleactivity {
        font-size: 20px; 
    }
}
/*fin*/

/* début partie footer */ 

footer a {
    color: black;
    text-decoration: none;
}
footer a:visited {
    color: black;
}
#footer {
    display: flex;
    background: #F2F2F2;
    margin-top: 30px;     
}
#apropos {
    margin-top: 30px;
    font-family: 'policereserviabold';
    font-size: 14px;
}
.hebergementassistance {
    margin-left: 200px;
    margin-top: 30px;
    font-family: 'policereserviabold';
    font-size: 14px;   
} 
#apropos a, .hebergementassistance a {
    font-family: 'policereservia';
    font-size: 13px;     
}
@media all and (max-device-width: 768px) {
    #footer {
        display: block;
    }
    #footer {
        margin-top: 150px;    
    }
    #apropos, .hebergementassistance {
        padding-top: 100px; 
        margin-left: 30px; 
        font-size: 25px; 
    }
    #apropos a, .hebergementassistance a {
        font-size: 20px; 
    }
    #assistance {
        padding-bottom: 150px; 
    }
}

/* fin */ 